*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


a{
    text-decoration: none;
    color: white;
}


.navBarPlusIntro{
    height: 100vh;
    background-image:linear-gradient(to bottom right, rgba(255, 255, 255, 0.062), rgba(212, 218, 231, 0.233)), url(../img/6.jpeg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  
}

.navBar{
    background-color: rgba(0, 0, 0, 0.664);
}

.contactTop{
    display: flex;
    justify-content: end;
    padding-top: 5px;
    
}

.contactTop a{
    text-decoration: none;
    color: white;
    font-size: 11px;
    padding-right: 4vw;
    padding-left: 3px;

}

.contactTop a:hover{
    color: red;
}

.navGround /*подложка меню*/{
    align-items: center;
    background-color: rgba(0, 0, 0, 0.664);  
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    position: fixed;
    width: 100vw;
    z-index: 3;
    
}

@media (max-width: 433px){
    .navGround div:nth-child(2){
        order: 1;
    }

}

.navGround div{
    margin: 5px 0; 
}



.brand{
    padding-left: 15px;
    
}


.brand h1{
    margin: 0;
    font-size: 24px;
    line-height: 14px;
       
}

.brand h1 a{
    color: red;
    text-decoration: none;

}

.brand h2{
    margin: 0;
    color: rgb(158, 158, 158);
    font-size: 13px;
    letter-spacing: 2.2px;
      
}

.menu{
    
    
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    
}

.menu a{
    
    font-size: 13px;
    text-transform: uppercase;
    text-decoration: none;
    color: white;
    margin-right: 8px;
    margin-left: 15px;
}

.menu div{
    margin-top: 0;
}

.menu a:hover{
    color: red;
}

.knopkaMenu{
    padding-right: 22px;
    padding-left: 17px;
    padding-bottom: 3px;
}

.knopkaMenu a{
    background-color: red;
    border: 1px solid red;
    border-radius: 1rem;
    color: white;
    font-size: 11px;
    text-transform: uppercase;
    text-decoration: none;
    padding: 0.4vw 1.8vw;
}

.knopkaMenu a:hover{
    background-color: rgba(255, 0, 0, 0.452);
}

.menuList{
    position: relative;  
    
}


.menu__drop{
    
    position: absolute;
    width: 330%;
    left: -170px;
    top: -9999rem;
    opacity: 0;
    border-left: 3px solid transparent;
    transition: 0.5s opacity ;
    list-style: none;
    
    margin: 0; 
    padding: 0;
    border-top: 10px solid transparent;

 }

 .menu__drop a{
     display: block;
     margin: 0;
     padding: 10px;
     font-size: 10px;
     transition: 0.5s padding;
     background: rgba(0, 0, 0, 0.664);
     background: 330;
    
 }

 .menu__drop a:hover{
    padding: 10px 0 10px 15px;
    color: rgb(252, 92, 92);

 }



 @media (max-width: 278px){
    .menu__drop{
        left: 10px;
    }
}

.menuList:hover .menu__drop {
    opacity: 1;
    top: 20px;
}

.menuList:hover .red {
    color: red;
}


.menuList::after{
    content: " ";
    position: absolute;
    border: 4px solid;
    border-color: transparent transparent transparent white;
    top: 11px;
    left: 4.2rem;
    transition: 0.5s;
    

}

.menuList:hover::after{
    transform: rotate(90deg);
    border-color: transparent transparent transparent red;
    
}






/*intro 1*/



.intro {
    height: 100vh;
    
    background-position: left;
    background-size: cover;
  
}

.text-box {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -35%);
    width: 100%;
    overflow: hidden;
    
}
.text-box h1 {
    text-transform: uppercase;
    color: red;
    text-shadow: 2px 0  0 black 
}

.heading-main {
    display: block;
    font-size: 7vw;
    letter-spacing: 2vw;
    text-shadow: 0 0 7px #0c0707, 0 0 7px black;
    animation-name: moveInLeft;
    animation-duration: 4s;
    animation-timing-function: ease-in-out;
}

@keyframes moveInLeft {
    0% {
        transform: translateX(-1000px);
        opacity: 0;
    }

    80% {
        transform: translateX(50px);
    }

    100% {
        transform: translateX(0);
        opacity: 1;
    }
}
.heading-sab {
    display: block;
    font-size: 4vw;
    letter-spacing: 1vw;
    animation-name: moveInRight;
    animation-duration: 4s;
    animation-timing-function: ease-in-out;
}

@keyframes moveInRight {
    0% {
        transform: translateX(1000px);
        opacity: 0;
    }

    80% {
        transform: translateX(-50px);
    }

    100% {
        transform: translateX(0);
        opacity: 1;
    }
}
.btn-container {
    text-align: center;
}

.btn {
    border-bottom: 2px solid red;
    color: white;
    display: inline-block ;
    font-size: 3vw;
    margin-top: 8vw;
    padding: 1rem;
    margin-right: 1rem;
    margin-left: 1rem;
    text-decoration: none;
    text-transform: uppercase;
    transition: all 0.3s;

}

.btn:hover {
    background-color: rgba(116, 150, 170, 0.353);
    box-shadow: 0 1rem 2rem rgba(0, 0,0, 15);
    transform: translateY(-3px);
    color: red;
}

.btn:active {
    background-color: rgba(116, 150, 170, 0.353);
    box-shadow: 0 0.3rem 0.5rem rgba(0, 0,0, 15);
    transform: translateY(3px);
    

}


/*o firme 2*/

.oFirme{
    background-color: rgb(212, 218, 231);
    clip-path: polygon(0 0, 100% 0%, 100% 100%, 0 92%);
    padding-left: 2rem;
    padding-right: 2rem;
    padding-top: 5rem;
    padding-bottom: 7rem;
    display: flex;
    flex-wrap: wrap;


    
}


.oFirme div{
    flex: 300px;
    
}

.oFirmeImg{
    text-align: center;
}

.oFirmeImg img{
    box-shadow: 0 1.5rem 4rem rgba(0, 0,0, 0.8);
    outline-offset: 5px;
    transition: all 0.3s;
    z-index: 1;
    width: 40vw;
    position: relative;
    margin-bottom: 2rem;
    
    
}

@media (max-width: 690px){
    .oFirmeImg img{
        width: 70vw;    
    }

    .oFirme div:first-child{
        order: 1;
    }

}


.oFirmeImg img:hover {
    outline: 0.5rem solid rgba(53, 74, 62, 0.34);
    transform: scale(1.03);
    z-index: 2;
}

.foto2{
    position: relative;
    bottom: 8.5vw;
    left: 8vw;
    z-index: 1;
    margin-right: 3rem;
}

.oFirmeText{
    padding-left: 3rem;
    text-align: justify;
}

.oFirmeText h1{
    display: inline;
    border-bottom: 2px solid red;
    letter-spacing: 3px;
}

.oFirmeText p{
    padding-top: 1rem;
}

/*miks 3*/

.miks{
    padding: 4rem 0;
}

.miks h3{
    
    padding: 0.7rem;
    
}

.miksHead{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 3rem;
}






.miksLine{
    border-bottom:5px solid red;
    width: 5rem;
    margin-left: auto;
    margin-right: auto;
}

.miksList{
    display: flex;
    flex-wrap: wrap;
    padding: 3rem;
    padding-bottom: 5rem;
}

.miksList span{
    font-weight: 600;
    flex: 100px;
    text-align: center;
    padding: 1rem;
    transition: all 0.5s;
}

.miksList span:hover{
    border: 0.1px solid rgb(151, 150, 150);
    border-radius: 15px;
    transform: translateY(-8px);
    box-shadow: 0 0.5rem 1rem rgba(0, 0,0, 15);
}

.miksList i{
    padding-bottom: 1rem;
    font-size: 2rem;
    color: red;
}

/*tutvu 4*/

.tutvu{
   
    background-image: linear-gradient(to bottom right, rgba(118, 127, 148, 0.795), rgba(118, 127, 148, 0.788)), url(../img/fasad/1.jpeg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    color: white;
    align-items: center;
    text-align: center;
    
}



.tutvu div{
    flex: 1;
    padding-top: 6rem;
    padding-bottom: 6rem;
}

.tutvu div:nth-child(1){/*video 2 part from 3*/
    flex: 2;
}

.tutvu div:nth-child(2){
    padding: 4rem;
}

.tutvuTube iframe{
    width: 430px;
    height: 242px;
    
}

@media (max-width: 480px){
    .tutvuTube iframe{
        width: 90vw;
        height: 50.8vw;
    }

    .heading-main {  
        font-size: 13vw;
    }

    .heading-sab {
        font-size: 7vw;
    }

    .btn {
        font-size: 5vw;
    }

}



.tutvu h4{
    font-size: 12px;
    font-weight: 700;
    letter-spacing: 7px;
    text-shadow: 0 0 3px #0c0707, 0 0 5px #ff0095;
    
}

.tutvuText{
    text-align: left;
}

.tutvuText a{
    font-size: 13px;
    font-weight: 700;
    text-decoration: none;
    color: red;
    background-color: white;
    border: 1px solid white;
    border-radius: 30px;
    padding: 13px 30px;

}

.tutvuText a:hover{
    color: white;
    background-color: red;
    border: red;
}

.tutvu h3{
    font-size: 2rem;
    text-shadow: 0 0 3px #0c0707, 0 0 5px black;

}



/*teenused 5*/

.teenused{
    padding:2rem 0;
    text-align: center;
    
}

.teenused h2{
    position: relative;
    font-size: 5rem;
    font-weight: 900;
    color: rgba(212, 218, 231, 0.404);
    letter-spacing: 0.9vw;
    transform: translateY(3rem);
    z-index: -1;
}

.teenused h3{
    font-size: 2rem;
    font-weight: 700;
    letter-spacing: 0.6vw;
    

}

.teenusedLine{
    border-bottom:3px solid red;
    width: 13rem;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 3rem;
    
}

.teenusedMain{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}


.teenusedMain div{
    border-radius: 20px;
    height: 300px;
    width: 300px;
    text-align: center;
    margin: 1.6rem;
    padding: 2rem;
    box-shadow:  0 0 20px black;
    
}

.teenusedMain h1{
    font-size: 1.7rem;
    font-weight: 900;
    margin: 2rem 0;
    color: white;
    text-shadow: 0 0 3px #0c0707, 0 0 5px black;
}

.knopka{
    font-size: 13px;
    font-weight: 700;
    text-decoration: none;
    color: white;
    background-color: red;
    border: 1px solid red;
    border-radius: 30px;
    padding: 13px 30px;
    
    

}

.knopka:hover{
    color: red;
    background-color: white;
    border: white;
}


/*counter 6*/

.counter{
    background-image: linear-gradient(to bottom right, rgba(118, 127, 148, 0.600), rgba(118, 127, 148, 0.600)), url(../img/fasad/4.jpeg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    margin-top: 8rem;
    padding: 8rem 3rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.counter div{
    font-size: 3rem;
    color: white;
    text-align: center; 
    transition: 1s;  
}

.counter div:hover{
    transform: scale(1.1);
    
}


.counter p{
    color: red;
    font-size: 1.5rem;
}

.counterLine{
    border-top: 3px solid red;
    width: 1rem;
    margin: auto;
    margin-top: 1rem;
}

.counter h3{
    font-size: 1.5rem;
    padding-top: 1rem;
}

.pluss{
    display: inline;
}


/*tehtud 7*/

.tehtudHeader{
    text-align: center;
    margin: 3rem 1rem;
    letter-spacing: 0.6vw;
}

.tehtudHeader h2{
    font-size: 2rem;
    font-weight: 700;
    letter-spacing: 0.6vw;
    

}

.tehtudList{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
   
    
}

.tehtudList div{
    align-items: center;
    background-image: url(../img/Neorantex/Torni9/5.jpg);
    background-size: 470px;
    background-repeat: no-repeat;
    background-position: center;
    width: 450px;
    height: 300px;  
    margin: 1rem; 
    border-radius: 7px;
    
    color: white;
    transition: 0.6s;
}

.tehtudList div:hover{
    background-size: 550px;
    
}

@media (max-width: 480px){
    .tehtudList div{
        background-size: 93vw;
        width: 90vw;
        height: 60vw;
    }

    .tehtudList div:hover{
        background-size: 110vw;
        
        
    }

}

.tehtudList h6:hover{
   opacity: 1;
   background-color: rgba(0, 0, 0, 0.349);
   border-radius: 7px;
   
}

.tehtudList a{
    font-size: 2rem;
    padding: 1.5rem;
}

.tehtudList a:hover{
    color: red;
}

.tehtudList h6{
    opacity: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.6s;   
}

.tehtud { /*knopka po centru*/
    text-align: center;       
}

.tehtud a{
    display: inline-block;
    margin: 0 1rem;
    
    
}

.modalGalery{/*rabota s galery*/    
    position: fixed;
    z-index: 100;
    margin-left: 50%;
    transform: translateX(-50%);
    display: none;
    
    
    
}


.modalGalery:target{
   display: block;
}

.galery1 h5{
    position: absolute;
    top: 2vh;
    margin-top: 2vw;
    font-size: 4.6vh;
    color: rgb(212, 211, 211);
    text-align: center;
    
}



.close{
    transform: rotate(45deg) !important; 
    font-size: 3rem;
    position: absolute;
    top: -2rem;
    right: 0;
    transition: 0.4s;
    color: rgb(212, 211, 211);
    padding: 1rem;
}

@media (max-width: 400px) {
    .galery1 h5{
        top: 10vh;
    }

   
}

.close:hover{
    color: white;
    
}

.galery1{
    display: flex; 
    background-color: rgba(0, 0, 0, 0.890);
    opacity: 1;
    width:  100vw;
    height: 100vh; 
    align-items: center;
    justify-content: center;
    overflow-x: hidden; 
}

.carousel-item img{  
    
    height:70vh;
    object-fit:contain ;
    object-position:center;
}

.carousel-control-prev{
    left: -80px;
    width: 40%;
    justify-content: start;
    padding-left: 2rem;
}

.carousel-control-next{
    right: -80px;
    width: 40%;
    justify-content: end;
    padding-right: 2rem;
}

.modalListImg{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 95vw;
    height: 100vh;
    margin-top: 10rem;
    
    
}

.modalListImg h4{
    color: rgb(212, 211, 211);
    flex: 100vw;
    text-align: center;

    
}

.modalListImg h6{
    position: absolute;
    top: 5%;
    width: 90%;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.582);
    margin-left: 50%;
    transform: translateX(-50%);
    font-size: 12px;
    border-radius: 5px;
    
}

.modalListImg img{
    width: 200px;
    border-radius: 10px;
    
}

.modalListImg div:hover{
    scale: 103%;
}

.modalListImg a:hover{
    color: white;
}

.modalListImg div{
    position: relative;
    margin:  2rem;
    transition: 0.4s;
    
}









/*garant 8*/

.garant{
    background-image: linear-gradient(to bottom right, rgba(118, 127, 148, 0.600), rgba(118, 127, 148, 0.600)), url(../img/man/1.webp);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    margin-top: 8rem;
    padding: 8rem 8rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    text-align: center;
    color: white;
    

}

#knopka:hover{
    background-color: rgba(151, 18, 18, 0.76);
    color: white;
    border: 1px solid red;
}

/*contact 9*/


.contact{
    background-color: rgb(221, 225, 235);
    padding: 5rem 1rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    

}

.map{
    margin: 1rem 2rem;

}

.map iframe{
    border: 2px solid rgb(185, 190, 199);
}

.contactForm{
    width: 400px;
    margin: 1rem 2rem;
}


.contactForm input{
    display: block;
    width: 100%;
    margin: 0.6rem 0;
    border-radius: 15px;
    padding: 5px;
}

.contactForm textarea{
    border-radius: 1rem;
    width: 100%;
}

.contactForm button{
    border-radius: 1rem;
    width: 100%;
    color:white;
    background-color: red;
    padding: 6px;
    margin: 0.6rem 0;
}



@media (max-width: 960px){
    .map iframe{
        width: 80vw;
    
    }

    .contactForm{
        width: 80vw;
        margin: 0;
    }

    .contact div:first-child{
        order: 1;
    }

}

/*footer 10*/

.footer{
    line-height: 2;
    font-size: 13px;
    color: white;
    background-color: black;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    text-align: center;
    padding: 1rem 1rem;
}

.footer div{
    padding: 1rem;
}

#footerBrand{
    padding-top: 2rem;
    transform: scale(1.2);
}

.footerInfo2 a{
    font-size: 15px;
    color: white;
    text-decoration: none;
}

.footerInfo2 b{
    font-size: 14px;
    font-weight: 500;
    color: red;
}



/*strelka*/

.top {
    color: rgba(114, 114, 114, 0.479);
    text-align: right;
    font-size: 3rem;
    position: sticky;
    bottom: 70px;
    height: 0;
}

.top:hover{
    color: rgba(61, 60, 60, 0.664);
    
}

